<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 1</title>
</head>
<body>
  <img [src]="logo" />
  <h1>Welcome to My World</h1>
  <br/>
  <h2>JobTitle : {{jobTitle}}</h2>
  <h2>Salary : {{salary}}</h2>
  <h2>AnnualSalary : {{getAnnualSalary()}}</h2>
  Enter your Name:
  <input type="text" placeholder="type your name" [(ngModel)]="userName" />
  <button (click)="greetUser()">Greet</button>
</body>
</html>